@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue.eot');
    src: local('☺'), url('../fonts/HelveticaNeue.woff') format('woff'), url('../fonts/HelveticaNeue.ttf') format('truetype'), url('../fonts/HelveticaNeue.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeueBd.eot');
    src: local('☺'), url('../fonts/HelveticaNeueBd.woff') format('woff'), url('../fonts/HelveticaNeueBd.ttf') format('truetype'), url('../fonts/HelveticaNeueBd.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/* Case*/

.case{
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 15px;

}

/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("../images/others/skyline.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

}

.intro__inner {
    width: 100%;
    height: 100vh;
    max-height: 130px;
}

.intro__title {
    text-shadow: 0px 3px 6px #000000A7;
    opacity: 1;
    color: #FFFFFF;
    font-size: 70px;
    font-weight: 700;
}

.intro__to-down {
    margin: -100px auto;
    width: 100%;
}

.btn__down {
    text-align: center;
}

.intro__btn {
    display: inline-block;
    vertical-align: top;
    border-radius: 41px;
    padding: 18px 73px;
    margin: 130px auto;
    background: transparent linear-gradient(90deg, #019FC4 0%, #014991 100%) 0% 0% no-repeat padding-box;
    text-decoration: none;
    font-size: 30px;
    color: #FFFFFF;
}

/* Header */
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__case{
    display: flex;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 15%;
    padding-top: 30px;
}

.header__login {
    margin-left: 40px;
}

/* Nav */

.header__nav {
    font-size: 20px;
    display: flex;
    position: relative;
}

.nav__link {
    position: relative;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 7px;
}

.dropdown__first {
    margin-top: 10px;
}

.dropdown__first-cntnt {
    text-decoration: none;
    color: #000000;


}

.dropdown__first-cntnt:hover {
    color: #014991;
}

.nav__about {
    margin-right: -210px;
    margin-top: 10px;
    background-color: #FFFFFF;
    position: relative;
    padding: 21px 21px;
    width: 250px;
}

.nav__about::after {
    border-bottom: 10px solid #FFFFFF;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    width: 0;
    height: 0;
    content: "";
    display: block;
    position: absolute;
    bottom: 100%;
    left: 25px;
}


.dropdown__menu {
    color: #FFFFFF;
    height: 20px;
    margin: 9px;
    position: relative;
    cursor: pointer;
}


.nav__about {
    display: none;
}

.dropdown__menu:hover .nav__about {
    display: block;

}

.nav__caret {
    padding-bottom: 5px;
}

.login__button {
    font-family: 'Lato', sans-serif;
    border: none;
    padding: 28px 65px;
    background: transparent linear-gradient(90deg, #014E94 0%, #019FC4 100%) 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 25px;
}

.header__search {
    margin-top: 42px;
}

/* Button */



.news__slider {
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    margin: 11px 5px;
    padding: 5px 12px;
    background: #014991;
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.5s;
}



.btn-img-left {
    width: 7px;
    height: 16px;

}

.btn-img-right {
    width: 7px;
    height: 16px;
}


/* News */
.section__news {
    padding: 10px 0;
}

.subtitle__news {
    font-family: 'HelveticaNeue';
    font-size: 300px;
    font-weight: 700;
    color: #EAEAEA;
    text-align: left;
    z-index: -1;
    margin-top: -152px;
    margin-left: 146px;
    position: absolute;
}

.title__news {
    font-weight: 900;
    font-size: 45px;
    color: #014991;
    margin: 83px 296px;
    text-transform: uppercase;
}

.news__text {
    width: 100%;
    max-width: 705px;
    height: 100%;
    max-height: 159px;
    font-size: 25px;
    margin-bottom: 100px;
}

.news__buttons {
    display: flex;
    flex-wrap: wrap;
}

.news {
    margin: 57px 0;
}

.news__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.news__item {
    width: 25%;
    padding: 0 15px;
    margin-bottom: 40px;
}


.news__content {
    text-align: left;
    display: inline-block;
    width: 100%;
    max-width: 323px;
    border: 1px solid #BEBEBE;
    height: 100%;
    max-height: 198px;
}

.news__photo {
    display: block;
    max-width: 100%;
    height: auto;
}

.news__photo-ad {
    display: block;
    max-width: 100%;
    height: auto;
}

.news__subtitle {
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    margin: 9px 15px;

}

.news__a {
    text-decoration: none;
    color: #000000;
}

.news__a:hover {
    text-decoration: underline;
}

.news__title {
    font-size: 14px;
    color: #919191;
    margin: 6px 15px;
}





.news__btn {
    position: relative;
    width: 90px;
    height: 50px;
    margin: 19px 15px;
    transition: 0.4s all ease 0s;
}

.news__btn:hover {
    transform: translate(80px);
    cursor: pointer;
}

.view__more-hov {
    display: none;
    margin-left: -90px;
    padding: 10px;
    margin-top: -120px;
}

.news__btn:hover .view__more-hov {
    display: block;
    position: absolute;
    top: 114px;
}

.view__more {
    color: #014991;
    text-decoration: none;
}




.news__slider-right {
    margin-left: 13px;
}

.news__slider-left {
    margin-left: 13px;
}








/* Events */
.events {
    margin: 57px 0;
}

.events__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 15px;
    justify-content: space-between;

}

.subtitle__events {
    font-size: 300px;
    font-weight: 700;
    color: #EAEAEA;
    text-align: left;
    z-index: -1;
    position: absolute;
    margin-left: -50px;
}

.title__events {
    font-weight: 900;
    font-size: 45px;
    color: #014991;
    padding-top: 175px;
    padding-left: 393px;
    text-transform: uppercase;
}

.events {
    margin: 57px 0;
}

.events__itemsO {
    width: 25%;
    margin-bottom: 40px;
}

.events__item {
    width: 100%;
    height: auto;
}

.events__photo {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 40px;
    cursor: pointer;
}

.events__btn {
    border: 0;
    border-radius: 41px;
    padding: 16px 57px;
    background: transparent linear-gradient(90deg, #019FC4 0%, #014991 100%) 0% 0% no-repeat padding-box;
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
}

.events__view-all {
    margin-top: 280px;
}

/* Members */

.members {
    margin: 57px 0;
}

.members__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.members__item {
    position: relative;
    width: 24%;
    padding: 0 15px;
    margin-bottom: 40px;
}

.members__photo {
    max-width: 100%;
    height: auto;
}

.slide-img-left {
    width: 100%;
    height: auto;
    margin-top: 130px;

}

.slide-img-right {
    float: right;
    width: 100%;
    height: auto;
    margin-top: 130px;
}


.subtitle__members {
    text-align: center;
    font-size: 140px;
    font-family: 'HelveticaNeue';
    font-weight: 700;
    color: #EAEAEA;
    z-index: -1;
}

.title__members {
    text-align: center;
    font-family: 'HelveticaNeue';
    font-weight: 900;
    font-size: 45px;
    color: #014991;
    margin-top: -80px;
}

/* Members slider */

.members__description {
    margin: 0 15px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    padding-top: 235px;
    display: none;
    transition: 1s all ease 0s;
}

.members__desc-name {
    font-size: 16px;
    font-weight: 700;
}

.members__view {
    text-align: center;
    display: none;
    padding: 12px;
    margin-top: 18px;
    background: #FFFFFF;
    width: 100%;
    max-width: 350px;
}

.members__item:hover .members__description {
    display: block;
}

.members__item:hover .members__view {
    display: block;
}

.members__url {
    color: #014991;

}

.poster:hover .descr {
    display: block;
    position: absolute;
    margin-top: 200px;
    z-index: 9999;
    width: 400px;
}


/* Members logo */
.members__logo {
    margin: -235px -68px;
    width: 23%;
}

.members__logo-second {
    margin-bottom: -250px;
}

.members__logo-third {
    margin-bottom: -190px;
}


/* Members footer  */
.members__footer {
    background: transparent linear-gradient(90deg, #003A7F 0%, #019FC4 100%) 0% 0% no-repeat padding-box;

}

.members__question {
    display: table;
    width: 100%;
    padding: 0 10px;
    margin: 15px auto;
}

.members__question>.members__question-title {
    display: table-cell;
    vertical-align: middle;
}

.members__question>.members__question-btn {
    display: table-cell;
    vertical-align: middle;
}

.members__question-title {
    width: 70%;
    padding-left: 300px;
    text-align: center;
    font-size: 50px;
    color: #FFFFFF;
}

.members__btn {
    position: relative;
    text-decoration: none;
    font-size: 30px;
    padding: 18px 73px;
    background: #FFFFFF;
    color: #014991;
    border-radius: 41px;

}

.members__btn:hover {
    background: #014991;
    color: #FFFFFF;
}


/* Publications */

.publications {
    margin: 57px 0;
}

.pub_title {
    width: 60%;
    height: auto;
    margin: 58px 0;
}

.publications__inner {
    display: flex;
    flex-wrap: wrap;
}

.publications__item {
    width: 33%;
    padding: 0 15px;
    margin-bottom: 40px;
}

.subtitle__publications {
    font-size: 300px;
    font-family: 'HelveticaNeue';
    font-weight: 700;
    color: #EAEAEA;
    z-index: -1;
}

.publications__photo {
    transition: 0.3s;
    display: block;
    max-width: 100%;
    height: auto;
}

.publications__photo:hover {
    transform: scale(1.07);
    cursor: pointer;
}

.title__publications {
    text-align: center;
    font-weight: 900;
    font-size: 45px;
    color: #014991;
    margin-top: -155px;
}

.publications__logos {
    width: 100%;
    max-width: 1264px;
    margin: 0px auto;
}

.logo__company {
    cursor: pointer;
    margin: 20px 20px;
    width: 16%;
}

/* Contact */

.contact {
    background: #014991;
    text-align: center;
    padding-bottom: 75px;
}

.contact__subtitle {
    font-size: 40px;
    color: #FFFFFF;
    width: 100%;
    padding-top: 2px;
}

.contact__subtitle-first {
    margin-bottom: 0;
}

.contact__title {
    font-size: 16px;
    color: #FFFFFF;
    opacity: 0.55;
    margin-bottom: 60px;
}

.subscribe {
    width: 100%;
    display: flex;
    justify-content: center;

}

.subscribe__input {
    width: 30%;
    height: 60px;
    background: #FFFFFF;
    color: #333;
    font-size: 20px;
    padding: 15px 40px;
    border-radius: 33px 0px 0px 33px;
    border: 0;
}

.subscribe__input::placeholder {
    color: #898989;
}

.subscribe__button {
    cursor: pointer;
    color: #FFFFFF;
    font-size: 20px;
    height: 60px;
    border: 0;
    background: transparent linear-gradient(90deg, #019FC4 0%, #014991 100%) 0% 0% no-repeat padding-box;
    border-radius: 0px 41px 41px 0px;
    padding: 15px 40px;
}

.contacts__logos {
    display: flex;
    justify-content: space-between;
}

/* Footer */

.footer {
    background: #071727;
}


.footer__case{
    padding: 0px 59px;
    width: 100%;
}

.footer__navigation {
    justify-content: space-between;
    text-align: center;
}

.footer__nav {
    font-size: 18px;
}

.footer__nav__link {
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    margin: 68px 20px;
}

.footer__description {
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
}

.footer__adress {
    text-decoration: none;
    color: #019FC4;
}

.footer__info {
    margin: 20px auto;
}

.footer__accept {
    display: table;
    text-align: left;
    background: #FFFFFF;
    padding: 20px 50px;
}

.footer__accept>.footer__accept_text {
    display: table-cell;
    vertical-align: middle;
}

.footer__accept>.footer__accept-btn {
    display: table-cell;
    vertical-align: middle;
    padding-left: 160px;
    ;

}

.footer__accept_text {
    width: 62%;
    text-align: left;
}

.accept__btn {
    border-radius: 41px;
    padding: 16px 57px;
    background: transparent linear-gradient(90deg, #019FC4 0%, #014991 100%) 0% 0% no-repeat padding-box;
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
}

.footer__accept-close {
    padding-top: 30px;
}

.close-btn {
    cursor: pointer;
    padding-top: 30px;
}

.copyright {
    border-top: 0.5px solid rgba(209, 206, 206, 0.5);
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #FFFFFF;
}

.copyright__text {
    padding-left: 63px;
}

.copyright__url {
    margin: 13px 189px;
}

.copyright__link {
    text-decoration: none;
    font-size: 14px;
    color: #FFFFFF;
}

.copyright_split {
    margin: 0px 10px;
}

/* Burger */

.burger {
    display: none;
    padding: 9px 2px;

    background: none;
    border: 0;
    cursor: pointer;
}

.burger__item {
    display: block;
    width: 50px;
    height: 4px;

    background-color: #fff;

    font-size: 0;
    color: transparent;

    position: relative;
}

.burger__item:before,
.burger__item:after {
    content: "";
    height: 100%;
    background-color: #fff;
    position: absolute;
    right: 0;
    z-index: 1;
}

.burger__item:before {
    width: 50px;
    top: -15px;
}

.burger__item:after {
    width: 50px;
    bottom: -15px;
}


/* Media queries */


@media (max-width: 1199px) {


    /* Intro */

    .intro__title {
        font-size: 47px;
    }

    .header__login {
        margin-left: 18px;
    }

    .header__search {
        margin-top: 25px;
    }

    .header__nav {
        font-size: 20px;
    }

    .login__button {
        font-size: 19px;
        padding: 24px 34px;
    }

    .intro__btn {
        padding: 13px 65px;
    }

    /* News */

    .subtitle__news {
        font-size: 231px;
        margin-top: -120px;
    }

    .title__news {
        font-size: 42px;
        margin: 56px 251px;
    }

    .section__text {
        font-size: 25px;
    }

    .news__subtitle {
        font-size: 18px;
    }

    .news__subtitle {

        font-size: 15px;
    }

    .news__title {
        font-size: 10px;
    }

    /* Events */

    .subtitle__events {
        font-size: 231px;
        margin-left: -46px;
    }

    .title__events {
        font-size: 32px;
        padding-top: 141px;
        padding-left: 293px;
    }

    .events__item {
        width: 85%;
    }

    .events__btn {
        padding: 14px 25px;
        margin: 82px -117px;
    }

    /* Members */

    .members__question-title {
        font-size: 35px;
    }

    .members__description {
        padding-top: 191px;
    }

    .members__logo {
        margin: -204px -19px;
        width: 26%;
    }

    /* Footer */

    .footer__accept>.footer__accept-btn {
        padding-left: 40px;
    }

    .accept__btn {

        padding: 11px 37px;
    }

    .footer__nav {
        font-size: 14px;
    }

    .logo__grayscale {
        margin: 20px 37px;
        width: 12%;
    }
}



@media (max-width: 991px) {
    .header__logo {
        width: 23%;
        padding-top: 30px;
    }

    .header__search {
        display: none;
    }

    .login__button {
        display: none;
    }

    .burger {
        display: block;
        color: #FFFFFF;
    }

    .intro__title {
        font-size: 50px;
    }

    .header__login {
        margin-left: 18px;
    }

    .header__search {
        margin-top: 25px;
    }

    .header__nav {
        display: none;
    }

    .login__button {
        font-size: 19px;
        padding: 24px 34px;
    }

    /* News */

    .news__item {
        width: 50%;
        text-align: center;
    }

    .news__subtitle {
        margin: 15px 29px;
        font-size: 25px;
    }

    .news__title {
        font-size: 19px;
        margin: 8px 29px;
    }

    .news__btn {
        margin: 26px 70px;
    }

    .news__content {
        max-width: 466px;
        max-height: 230px;
    }

    .news__photo-ad {

        max-width: 100%;
        height: 100%;
    }

    .news__buttons {
        justify-content: center;
    }

    /* Events */

    .events__btn {
        margin: 5px -175px;
    }

    .events__itemsO {
        width: 43%;
    }

    /* Members */

    .members__item {
        width: 46%;
        text-align: center;
    }

    .slide-img-left {
        margin-left: 10px;
    }

    .slide-img-right {

        margin-right: 10px;
    }

    /* Footer */

    .footer__case{
        width: 100%;
        max-width: 1320px;
        margin: 20px auto;
    }

    .copyright__text {
        padding-left: 63px;
    }

    .copyright__url {
        margin: 13px 79px;
    }

    .logo__grayscale {
        width: 25%;
    }

}


@media(max-width: 767px) {

    /* Intro */

    .intro__title {
        font-size: 38px;
    }

    /* News */

    .news__item {
        width: 75%;
        margin: 56px;
    }

    .subtitle__news {
        display: none;
    }

    .news__content {
        max-width: 613px;
        max-height: 288px;
    }

    .title__news {
        text-align: center;
        margin: 50px 16px
    }

    .news__subtitle {
        font-size: 28px;
    }

    .news__title {
        font-size: 22px;
    }

    .news__photo-ad {
        width: 100%;
        height: auto;
    }

    /* Events */

    .events__item {
        width: 100%;
    }

    .events__btn {
        display: none;
    }

    .title__events {
        padding-left: 30px;
        text-align: center;
        font-size: 34px;
    }

    .subtitle__events {
        display: none;
    }

    /* Members */

    .members__item {
        width: 100%;
    }

    .slide-img-left,
    .slide-img-right {
        display: none;
    }

    .title__members {
        margin-top: 0;
    }

    .members__question-title {
        padding-left: 0;
        font-size: 23px;
    }

    .members__logo {
        display: none;
    }

    .members__btn {
        font-size: 24px;
        padding: 10px 41px;
    }

    .subtitle__members {
        display: none;
    }

    /* Publications */

    .publications__item {
        width: 100%;
        text-align: center;
    }

    .publications__photo {
        margin-left: auto;
        margin-right: auto
    }

    .title__publications {
        margin-top: 73px;
        font-size: 40px;
    }

    .pub_title {
        display: none;
    }

    /* Footer */

    .subscribe {
        flex-wrap: wrap;
        max-width: none;
    }

    .subscribe__input {
        margin-bottom: 10px;
    }

    .subscribe__input,
    .subscribe__button {
        width: 100%;
        border-radius: 33px 33px 33px 33px;

    }

    .footer__case{
        display: none;
    }

    .logo__grayscale {
        width: 33%;
        margin: 20px 44px;
    }

    .members__logo-third {
        width: 14%;
    }

    .members__logo-second {
        width: 22%;
    }

    .close-btn {
        padding-top: 52px;
    }
}